.main {
  background-color: var(--primary-color);
}
.card {
  margin: 40% 10%;
}

.footer {
  padding: 15px 6px;
  background-color: var(--text-color);
}
.footer-wrapper {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 110%;
  color: var(--primary-color);
  padding: 5px 10px;
}

.footer-wrapper a {
  font-size: 1rem;
  font-weight: 600;
  color: #97a8c1;
}
